---
title: Contribute Frequently Asked Questions
description: "Contribute is our annual GitLabber community event. We get together to get face time with one another, build community, reinforce our values, and get some work done! Since our team is scattered all over the globe, we try to plan a different location for each GitLab Contribute."
image_title: '/images/events/gitlab-commit/gitlab-commit-header.png'
layout: default
suppress_header: true
extra_css:
  - event.css
  - event-commit.css
  - simplify-devops.css
  - event-contribute.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---

= partial "/includes/events/contribute/hero1"
.gitlab-content-container.commit-content-container
  .content.commit-content
    .js-in-page-nav-group{ role: "main", offset: 0, showhash: "true" }

      .row.js-in-page-nav-section#FAQ
        .container
          .u-margin-top-md
            %h2.u-text-brand Frequently Asked Questions
            %h3 Booking Travel<a name="booking-travel"></a>
            %p Please see the <a href="https://gitlab.com/gitlab-com/marketing/contribute/contribute-2020/blob/master/booking-travel.md">booking travel page</a>

            %h3 Room assignment<a name="room-assignment"></a>
            %p Please see the <a href="https://gitlab.com/gitlab-com/marketing/contribute/contribute-2020/blob/master/room-info.md">room info page</a>.

            %h3 Registration<a name="registration"></a>
            %h4 I am not sure I can attend just yet, what should I do? 
            %p You have 30 days from the time you receive your registration email to register for Contribute. If you'd like to request an extention, please email `contribute@gitlab.com` with information on why you'd like more time to decide.

            %h4 Do I need to book a ticket for the event? 
            %p Yes, we need to know you will be coming and when. Please do so sooner than later even if you think some details might change. It helps us plan for headcount and room allocations.  

            %h4 What if I don't have a passport/need to renew my passport? 
            %p If you don't have a passport yet, please enter `000000000000` for now. Apply for a passport <strong>ASAP</strong>. When you have it come back to modify your registration and enter the number. 
            %p If you are renewing your passport, enter your current number and come back to modify it when you have the new passport. 
            %p If you need to get a passport or renew it *specifically* for traveling to Contribute, you can expense up to 75 USD to cover the cost of this process. If the costs are higher, GitLab will only reimburse up to 75 USD. 
            %p To take advantage of this perk, email `contribute@gitlab.com` with details for approval and include your manager in cc. Once approved, submit for expense reimbursement and mention that the expense has been approved.

            %h4 How do I modify my registration?
            %p There is a link to `Manage Registration Details` in the confirmation email sent after you register.

            %h4 How much free time will there be during Contribute? 
            %p You can count on having free time during Arrivals Day and in the evenings. You’ll have a packed schedule the rest of the time, including excursions, workshops, and keynotes. Please note that events are not mandatory, so if you’re not up for an excursion or a workshop, you’re not obligated to attend. However, the goal of Contribute is to build bonds with each other and cultivate a strong community, so if you decide not to attend an event, we hope that you spend that time recharging or getting to know others.  

            %h4 Can I stay at an Airbnb or book my own lodging? 
            %p All Contribute attendees must stay at the Contribute hotels. Airbnbs, other hotels, and other accommodations are not possible. This is both to ensure security of all attendees but also in order to get the most networking benefit from this company event.

            %h3 Guests<a name="guests"></a>
            %h4 Can I bring a guest?
            %p Yes, GitLabbers may bring 1 guest, and they're encouraged to buy a ticket to attend. This way they will be able to join in on all activities, meals, excursions, workshops, and more. Any guests that do not have a ticket will not be able to participate in any Contribute activity.

            %h4 Can my guest/child attend without a ticket to Contribute?
            %p This is discouraged for a few reasons. The purpose of Contribute is to connect with our team face to face, as we only gather in person once every nine months. If your guest is unable to join in on any activities, you may find yourself torn between spending time with other GitLabbers and hanging out with your guest, which could mean that you miss out on bonding with teammates.
            %p It is also not guaranteed that you will get a private room if you request one (see the <a href="https://gitlab.com/gitlab-com/marketing/contribute/contribute-2020/blob/master/room-info.md"> room info page</a>). THe safest way to being your SO to Contribute is to buy them a ticket. The cost of a private room to share with your guest is included in their ticket. 
            %p That said, we understand that Contribute is a long time away from your family, and if the only way to attend is to bring our child/guest/both, then we won't charge a guest ticket. 
            %p <strong>Please note we cannot accommodate anyone under 18 at any Contribute activity, such as meals, excursions or workshops.</strong> 

            %h4 How do I register my guest?
            %p If you are buying a ticket for your guest for Contribute, you will need to register them separately.

            %h4 When is the latest I can register my guest to attend?
            %p Your guest has the same deadline as you do.

            %h4 Is my guest's ticket refundable if they had to cancel for some reason? 
            %p It is refundable up until 45 days <strong>before</strong> Contribute.

            %h3 Attending Contribute<a name="attending-contribute"></a>
            %h4 Is it possible to attend Contribute for a shorter amount of time? 
            %p While we encourage everyone to attend the entire event because the program is crafted to ebb and flow with various learnings and differentiated interactions - both departmental and cross functional - we understand that this is a long time away from family and other priorities, so we're able to accept partial bookings as long as team members can <strong>attend for at least 2 full days</strong>.

            %h4 If we have to leave early for a family emergency or something else, is it expected that we'll reimburse the company for the unused portion of the trip? What are general guidelines for this type of situation? 
            %p In the case of an emergency that requires you to leave Contribute, please reach out to an Ambassador. We'll help find transportation and provide any other support you need. You won't be expected to reimburse GitLab for anything. 
            %p &nbsp;
            %p &nbsp;







